body {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 3.6rem;
  width: 3.6rem;
  margin: 5px;
  position: relative;
  text-align: center;
}

.icon-button em {
  height: 3.6rem;
  width: 3.6rem;
  line-height: 3.6rem;
  left: 0;
  position: absolute;
  transition: all 0.3s;
  z-index: 1;
}

.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3b5998;
}

.icon-button span {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s;
}

.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}

.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3b5998;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook {
  color: white;
}
